.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 40px;
  font-size: 0.8rem;
  background: white;
  color: #666;
  flex-wrap: wrap; /* allows stacking */
  gap: 10px;
}

.footer p {
  font-family: "Acron-Regular";
  font-size: 1.1rem;
  margin: 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-icons {
  display: flex;
  gap: 30px;
}

.footer-icons a {
  color: #999999; /* light gray */
  font-family: "Acron-Regular";
  font-size: 20px;
  transition: color 0.3s ease;
}

/* Icon-specific hover colors */
.footer-icons a:nth-child(1):hover {
  color: #0077b5; /* LinkedIn */
}

.footer-icons a:nth-child(2):hover {
  color: #333; /* GitHub */
}

.footer-icons a:nth-child(3):hover {
  color: #39e09b; /* Linktree */
}

/* Responsive layout for small screens */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer p {
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .footer-icons {
    order: -1; 
  }
}
