.grid-bg-dark {
  background-size: 60px 60px;
  background-image:
    linear-gradient(to right, #262626 1px, transparent 1px),
    linear-gradient(to bottom, #262626 1px, transparent 1px);
  z-index: 0;
}

.radial-mask-dark {
  mask-image: radial-gradient(ellipse at center, rgb(26, 26, 26) 10%, transparent 60%);
  -webkit-mask-image: radial-gradient(ellipse at center, rgb(26, 26, 26) 10%, transparent 60%);
  pointer-events: none;
  background-color: #0b0b0b;
  z-index: 1;
}

