.seminar-page {
  min-height: 100vh;
}

/* Banner */
.seminar-banner {
  background: #f5f5f7;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img3 {
  max-width: 150px;
  height: auto;
}

/* Layout */
.seminar-content {
  display: flex;
  gap: 40px;
  padding: 5rem 1.5rem 0 1.5rem;
}

/* Sidebar */
.seminar-sidebar {
  flex: 1;
  max-width: 300px;
}

.seminar-sidebar h4 {
    font-family: "Acron-Regular";
  font-size: 0.9rem;
  color: #000;
  font-weight: 550;
  margin-top: 20px;
}

.seminar-sidebar p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8d8d8d;
  margin-bottom: 2rem;
}

/* Main */
.seminar-main {
  max-width: 700px;
font-family: "Open Sans", sans-serif;
}

.seminar-main h1 {
    font-family: "Acron-Regular";
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000;
  font-weight: 600;
}

.intro {
  font-size: 1.1rem;
  color: rgb(90, 96, 112);
  line-height: 2;
}

.bold-text {
  font-weight: 600;
}

.highlight {
  background: #f5f7f9;
  padding: 0.5rem;
  color: rgb(90, 96, 112);
  display: inline-block;
  font-weight: 400;
  line-height: 2;
  font-size: 1.1rem;
}


.seminar-projects {
  font-size: 1.1rem;
  background: #f5f7f9;
  padding: 0.5rem;
}

/* Image styling */
.seminar-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seminar-image-wrapper img {
  width: 100%;
  max-width: 1200px;
  object-fit: cover;
  border: 2px solid #d4d4d4;
}

.seminar-image-wrapper figcaption {
    font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: rgb(90, 96, 112);
  margin: 0.5rem 2rem 2rem 2rem;
  text-align: center;
}

/* Image section */
.seminar-feature-images {
  margin: auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

/* Responsive */
@media (max-width: 768px) {
  .seminar-content {
    flex-direction: column;
  }

  .seminar-sidebar {
    max-width: 100%;
  }
  .seminar-main h1 {
    font-size: 2.2rem;
  }
}
