.olive-page {
  min-height: 200vh;
}

/* Banner */
.olive-banner {
  background: #f8fafc;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  max-width: 200px;
  margin-bottom: 100px;
}

.company-logo {
  
  width: 150px;
  margin-bottom: 1.5rem;
}

/* Content layout */
.olive-content {
  display: flex;
  gap: 40px;
  padding: 5rem 1.5rem 0 1.5rem;
  align-items: flex-start;
}

/* Sidebar */
.olive-sidebar {
  flex: 1;
  max-width: 300px;
}

.olive-sidebar h4 {
  font-family: "Acron-Regular";
  font-size: 0.9rem;
  color: #000000;
  font-weight: 550;
  margin-top: 20px;
}

.olive-sidebar p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8d8d8d;
  margin: 0 0 2rem 0;
}

/* Main section */
.olive-main {
  max-width: 700px;
font-family: "Open Sans", sans-serif;
}

.olive-main h1 {
    font-family: "Acron";
  font-size: 3rem;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.intro {
  font-size: 1.1rem;
  color: rgb(90, 96, 112);
  line-height: 2;
}

.bold-text {
  font-weight: 600;
}

.highlight {
  background: #f5f7f9;
  padding: 0.5rem;
  color: rgb(90, 96, 112);
  display: inline-block;
  /* margin: 1rem 0; */
  font-weight: 400;
  line-height: 2;
  font-size: 1.1rem;
}

/* Image with caption */
.olive-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.olive-image-wrapper img {
  width: 100%;
  height: auto;
}

.olive-image-wrapper figcaption {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: rgb(90, 96, 112);
  margin: 0.5rem 2rem 1rem 2rem;
  text-align: center;
  max-width: 95%;
}
.ss {
  margin: 0 auto 2rem auto;
}

/* Two images in one row */
.olive-two-images {
  display: flex;
  gap: 2px;
  margin: 1rem 0;
}
.olive-two-images img {
  width: 50%;
}
.olive-two-images {
  display: flex;
  gap: 2px;
  margin: 1rem 0;
}
.olive-two-images img {
  width: 50%;
}

.short-content {
  font-size: 1.1rem;
  color: rgb(90, 96, 112);
  line-height: 2;
  margin-bottom: 1.5rem;
}

.olive-projects {
  font-size: 1.1rem;
  line-height: 2;
  margin-bottom: 1rem;
  background: #f5f7f9;
  padding: 0.5rem;
}

/* Large images */
.olive-large-images {
  margin: 2rem 0;
}

.olive-two-images-end {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 2rem auto 0rem auto;
  max-width: 1100px;
}
.olive-two-images-end img {
  height: auto;
  border: 2px solid #d4d4d4;
}

.olive-large-images img {
  max-width: 1100px;
  border: 2px solid #d4d4d4;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .olive-content {
    flex-direction: column;
  }

  .olive-sidebar {
    max-width: 100%;
  }

  .olive-sidebar .company-logo {
    display: none;
  }

  .olive-main h1 {
    font-size: 2.2rem;
  }

  .ss {
    margin: 0 2rem 2rem 2rem;
  }

  .olive-two-images-end {
    flex-direction: column;
  }

  .olive-image-wrapper img {
    width: 100%;
  }
}
