.navbarxu {
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  transition: all 0.3s ease;
  z-index: 999;
  border-bottom: none;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  transition: padding 0.3s ease;
}

/* Logo */
.logo-text {
  font-size: 22px;
  font-weight: 700;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

/* Links */
.nav-links1 {
  list-style: none;
  display: flex;
  gap: 35px;
  margin-bottom: 0;
}

.nav-links1 li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: rgb(165, 165, 165);
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav-links1 li a.active {
  color: black;
}

.nav-links1 li a:hover {
  color: black;
}

/* Scroll effect */
.navbarxu.scrolled {
  border-bottom: 1px solid #eee;
  background: white !important;
}

.navbarxu.scrolled .navbar-content {
  padding: 12px 40px;
}

.navbarxu.scrolled .logo-text {
  opacity: 1;
  color: black !important;
}

.navbarxu.scrolled .nav-links1 li a {
  color: rgb(165, 165, 165);
}

.navbarxu.scrolled .nav-links1 li a:hover,
.navbarxu.scrolled .nav-links1 li a.active {
  color: black;
}

/* Olive Theme */
.navbarxu.olive-theme {
  background: #f8fafc;
}

.navbarxu.olive-theme .logo-text {
  opacity: 1;
  color: rgb(157, 157, 157);
}

/* Library Theme */
.navbarxu.library-theme {
  background: #0a192f;
}

.navbarxu.library-theme .logo-text {
  opacity: 1;
  color: rgb(157, 157, 157);
}

.navbarxu.library-theme .nav-links1 li a {
  color:rgb(157, 157, 157);
}

.navbarxu.library-theme .nav-links1 li a:hover,
.navbarxu.library-theme .nav-links1 li a.active {
  color: #e9f0ee;
}

/* Draft Blog Theme */
.navbarxu.draft-theme {
  background: #1B1B1F;
}

.navbarxu.draft-theme .logo-text {
  opacity: 1;
  color: #e0e0e0;
}

.navbarxu.draft-theme .nav-links1 li a {
  color: #909090;
}

.navbarxu.draft-theme .nav-links1 li a:hover,
.navbarxu.draft-theme .nav-links1 li a.active {
  color:  #e9f0ee;
}


/* Seminar Theme */
.navbarxu.seminar-theme {
  background: #F5F5F7
}

.navbarxu.seminar-theme .logo-text {
  opacity: 1;
  color: #bebebe;
}

.navbarxu.seminar-theme .nav-links1 li a {
  color: #b6b6b6;
}

.navbarxu.seminar-theme .nav-links1 li a:hover,
.navbarxu.seminar-theme .nav-links1 li a.active {
  color:  #686b6a;
}


/* Lumora Theme */
.navbarxu.lumora-theme {
  background: #121B25;
}

.navbarxu.lumora-theme .logo-text {
  opacity: 1;
  color: #bebebe;
}

.navbarxu.lumora-theme .nav-links1 li a {
  color: #b6b6b6;
}

.navbarxu.lumora-theme .nav-links1 li a:hover,
.navbarxu.lumora-theme .nav-links1 li a.active {
  color:  #686b6a;
}