@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Zen+Loop:ital@0;1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* :root {
  --bg-dark: #00060D;
  --dark-grey: #404040;
  --mid-grey: #8C8C8C;
  --light-grey: #BFBFBF;
  --white: #F2F2F2;
} */
/* Color Variables */
:root {
  /* Color palette */
  --grey: #A4A5A6;
  --black: #00060D;
  --dark-blue: #081526;
  --navy-blue: #122640;
  --midnight-blue: #172D40;
  
  /* Functional colors */
  --bg-dark: var(--black);
  --dark-grey: var(--dark-blue);
  --white: #FFFFFF;
  --light-grey: var(--grey);
}
