@font-face {
  font-family: "DTNightingale";
  src: url("/fonts/DTNightingale-Light.ttf") format("truetype"),
       url("/fonts/DTNightingale-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Getai";
  src: url("/fonts/DTGetaiGroteskDisplay-Black.ttf") format("truetype"),
       url("/fonts/DTGetaiGroteskDisplay-Black.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Acron";
  src: url("/fonts/Acorn-SemiBold.otf") format("opentype"),
       url("/fonts/Acorn-Thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Acron-thin";
  src: url("/fonts/Acorn-Thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Acron-light";
  src: url("/fonts/Acorn-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Acron-regular";
  src: url("/fonts/Acorn-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}


