.draft-page {
  min-height: 100vh;
}

/* Banner */
.draft-banner {
  background: #1B1B1F;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img2 {
  max-width: 350px;
  height: auto;
}

/* Layout */
.draft-content {
  display: flex;
  gap: 40px;
  padding: 5rem 1.5rem 0 1.5rem;
}

/* Sidebar */
.draft-sidebar {
  flex: 1;
  max-width: 300px;
}

.draft-sidebar h4 {
  font-size: 0.9rem;
  color: #000;
  font-weight: 550;
  margin-top: 20px;
}

.draft-sidebar p {
  font-size: 0.9rem;
  color: #8d8d8d;
  margin-bottom: 2rem;
}


/* Main */
.draft-main {
  max-width: 700px;
  font-family: "Inter", sans-serif;
}

.draft-main h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000;
  font-weight: 600;
}

.intro {
  font-size: 1.1rem;
  color: rgb(90, 96, 112);
  line-height: 2;
}

.bold-text {
  font-weight: 600;
}

.highlight {
  background: #f5f7f9;
  padding: 0.5rem;
  color: rgb(90, 96, 112);
  display: inline-block;
  /* margin: 1rem 0; */
  font-weight: 400;
  line-height: 2;
  font-size: 1.1rem;
}



.draft-projects {
  font-size: 1.1rem;
  background: #f5f7f9;
  padding: 0.5rem;
}

/* Image styling */
.draft-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.draft-image-wrapper img {
  width: 100%;
  max-width: 1200px;
  object-fit: cover;
  border: 2px solid #d4d4d4;
}

.draft-image-wrapper figcaption {
  font-size: 1.1rem;
  color: rgb(90, 96, 112);
  margin: 0.5rem 2rem 2rem 2rem;
  text-align: center;
}

/* Image section */
.draft-feature-images {
  margin: auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

/* Loading Screen */
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading-progress {
  font-size: 1.5rem;
  color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .draft-content {
    flex-direction: column;
  }

  .draft-sidebar {
    max-width: 100%;
  }

  .draft-main h1 {
    font-size: 2.2rem;
  }
}
